body{
    background-image: url("../src/images/mountainwhite.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.container{
    background-color: rgba(91, 141, 156, 0.7);

    
}
.currentWeatherImage{
    text-align: center;
}