body{
    background-image: url("../src/images/mountainwhite.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.container{
    background-color: rgb(117, 153, 153);
    
}
.currentWeatherImage{
    text-align: center;
}