body{
    background-image: url("../src/images/mountainwhite.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
.container{
    background-color: rgba(209, 211, 220, 0.9); 
}

.currentWeatherImage{
    text-align: center;
}
li{
    list-style: none;
}
#icon{
    width: 30%;
}
.currentTemp, .rowFix{
    display: inline-block;
}

h2 .active{
    color: black;
    text-decoration: none;
}

#weather-description::first-letter{
    text-transform: capitalize;
}
.weather-forecast{
    text-align: center;
    margin-top: 0 ;
}
.weather-forecast-date{
text-decoration: underline;

}
.weather-forecast-description{
/* From https://css.glass */
    background: rgba(253, 223, 223, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    margin-bottom: 10%;
}
